NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=''
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:3001
NEXT_PUBLIC_ETHEREUM_MAINNET_RPC_URLS=https://ethereum-rpc.publicnode.com,https://eth-mainnet.public.blastapi.io,https://eth.drpc.org
