@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
}

.custom-bg {
  background: radial-gradient(
    56.45% 56.45% at 56.2% 43.55%,
    #fafbff 0%,
    #b9bac3 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-height: 800px) {
  .mt-shrink {
    margin-top: 4rem;
  }
}
