@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
}

.custom-bg {
  background: radial-gradient(
    56.45% 56.45% at 56.2% 43.55%,
    #fafbff 0%,
    #b9bac3 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 1000px) {
  .this-hide {
    display: none;
  }
}

@media (max-height: 800px) {
  .text-small {
    font-size: 30px;
    --tw-leading: 40px;
    line-height: 40px;
    --tw-tracking: 0px;
    letter-spacing: 0px;
  }

  .text-very-small {
    font-size: 20px;
    --tw-leading: 30px;
    line-height: 30px;
    --tw-tracking: 0px;
    letter-spacing: 0px;
  }

  .gap-small {
    gap: 15px;
  }

  .mt-small {
    margin-top: 1rem;
  }

  .short\:hidden {
    display: none !important;
  }

  .short\:inline {
    display: inline !important;
  }
}
